/* Ocultar la barra superior de Google Translate */
.goog-te-banner-frame {
  display: none !important;
}

/* Arreglar el posicionamiento del body */
body {
  top: 0 !important;
  position: static !important;
}

/* Ocultar el selector original de Google Translate */
#google_translate_element {
  position: absolute;
  top: -9999px;
  left: -9999px;
  height: 0;
  overflow: hidden;
}

/* Ocultar la barra de notificación de Google Translate */
.skiptranslate {
  display: none !important;
}

/* Ocultar el iframe de Google Translate */
iframe.skiptranslate {
  display: none !important;
}

/* Arreglar el margen superior en texto traducido */
.translated-ltr {
  margin-top: 0 !important;
}

/* Arreglar la altura del HTML */
html {
  height: auto !important;
}

/* Ocultar atribuciones de Google Translate */
.goog-logo-link,
.goog-te-gadget span,
.goog-te-banner-frame,
.goog-te-menu-value span,
.goog-te-gadget img {
  display: none !important;
}

/* Ocultar el gadget de Google Translate */
.goog-te-gadget {
  height: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  font-size: 0 !important;
}

/* Arreglar el menú de Google Translate */
.goog-te-menu-frame {
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.1) !important;
}

/* Ocultar el combo box de Google Translate */
.goog-te-combo {
  position: absolute !important;
  visibility: hidden !important;
  top: -1000px !important;
  left: -1000px !important;
}
